<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Dashboard Admin</h1>

<a href="/admin/analytics">
    📊 Analytics Chatbot
</a>

|
<a href="/admin/logout">
    Logout
</a>

<hr>

<h2>Tambah FAQ</h2>

<form method="POST" action="/add_faq">

    <input type="text" name="pertanyaan" placeholder="Pertanyaan" required>
    <br><br>

    <textarea name="jawaban" placeholder="Jawaban" required></textarea>
    <br><br>

    <input type="text" name="kategori" placeholder="Kategori">
    <br><br>

    <input type="text" name="semester" placeholder="Semester">
    <br><br>

    <input type="text" name="sumber" placeholder="Sumber">
    <br><br>

    <button type="submit">
        Tambah FAQ
    </button>

</form>

<hr>

<h2>Data FAQ</h2>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Pertanyaan</th>
    <th>Jawaban</th>
    <th>Kategori</th>
    <th>Aksi</th>
</tr>

{% for row in rows %}
<tr>

<form method="POST" action="/edit_faq/{{ row.id }}">

<td>{{ row.id }}</td>

<td>
<input type="text"
name="pertanyaan"
value="{{ row.pertanyaan }}">
</td>

<td>
<textarea name="jawaban">{{ row.jawaban }}</textarea>
</td>

<td>
<input type="text"
name="kategori"
value="{{ row.kategori }}">
</td>

<td>

<input type="text"
name="semester"
value="{{ row.semester_berlaku }}">

<input type="text"
name="sumber"
value="{{ row.sumber }}">

<br><br>

<button type="submit">
    Update
</button>

<a href="/delete_faq/{{ row.id }}">
    Delete
</a>

</td>

</form>

</tr>
{% endfor %}

</table>

</body>
</html>